
# 讯飞星辰
XUNFEI_API_KEY=
XUNFEI_API_BASE=

# 火山方舟
VOLCENGINE_API_KEY=
VOLCENGINE_API_BASE=

# 快手万擎
KWAI_API_KEY=
KWAI_API_BASE=

# 智谱AI
ZHIPU_API_KEY=
ZHIPU_API_BASE=

# 腾讯云
TENCENT_API_KEY=
TENCENT_API_BASE=

# 零克云
LINKAI_API_KEY=
LINKAI_API_BASE=

# 天翼云
CTYUN_API_KEY=
CTYUN_API_BASE=

# MoonShot
MOONSHOT_API_KEY=
MOONSHOT_API_BASE=

# 百灵大模型
BAILING_API_KEY=
BAILING_API_BASE=

# 阶跃星辰
STEPFUN_API_KEY=
STEPFUN_API_BASE=

# DeepSeek Official
DEEPSEEK_API_KEY=
DEEPSEEK_API_BASE=

# SCNet
SCNET_API_KEY=
SCNET_API_BASE=
